body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(159, 56, 56);
}

.container-image{
    text-align: center;
}
.container-image img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    background-color: lightgray;
    width: 300px;
    height: 300px;
}
.btn{
    background-color: steelblue;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}